@charset "utf-8";

body{height: 400vh;}
header{width: 100vw; height: 100vh;background: #feae1b;position: relative;overflow: hidden;}

.layer{
    width: 100vw;height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 1000px;
    position: absolute;
    transition: 0.3s;
    transform-origin: center;
}
.layer.pic0{
    background-image: url(../images/parallax0.png);
}
.layer.pic1{
    background-image: url(../images/parallax1.png);
    transform: translateY(50);
}
.layer.pic2{
    background-image: url(../images/parallax2.png);
}
.layer.pic3{
    background-image: url(../images/parallax3.png);
}
.layer.pic4{
    background-image: url(../images/parallax4.png);
}
.layer.pic5{
    background-image: url(../images/parallax5.png);
}
.layer.pic6{
    background-image: url(../images/parallax6.png);
}
.layer.pic7{
    background-image: url(../images/parallax7.png);
}
.layer.pic8{
    background-image: url(../images/parallax8.png);
}

.container{width: 100vw;height: 100vh;}

.conWrap{width: 100px;margin: 0 auto;background: #fff;}

.skyblue{background: skyblue;}
.pink{background: pink;}